name: Multi-Arch CI (GitHub only)

on:
  release:
    types: [published]
  workflow_dispatch:

env:
  CROSS_SYSROOT: /mnt/alpine

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x86_64, aarch64]
    outputs:
      HEPLIFY_VERSION: ${{ steps.version.outputs.HEPLIFY_VERSION }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Alpine Linux for ${{ matrix.arch }}
        uses: jirutka/setup-alpine@v1
        with:
          arch: ${{ matrix.arch }}
          id: alpine-root
          packages: >
            build-base
            pkgconf
            linux-headers
            musl-dev
            gcc
            libpcap-dev
            ca-certificates
            git
            go
            sudo

      - name: Install LuaJit 2.1 ${{ matrix.arch }}
        run: |
          git clone https://luajit.org/git/luajit-2.0.git
          cd luajit-2.0
          git checkout v2.1
          make CCOPT="-static -fPIC" BUILDMODE="static"
          sudo make install
        shell: alpine.sh {0}

      - name: Build ${{ matrix.arch }}
        run: |
          CGO_ENABLED=1 GOOS=linux go build -a \
            --ldflags '-linkmode external -extldflags "-static -s -w"' \
            -o heplify-server${{ matrix.arch == 'aarch64' && '-arm64' || '' }} \
            ./cmd/heplify-server
        shell: alpine.sh {0}

      - name: Retrieve version
        id: version
        run: |
          echo "HEPLIFY_VERSION=$(sed -n 's/^.*heplify-server \([0-9.]*\).*/\1/p' config/config.go)" >> $GITHUB_OUTPUT

      - name: Package for ${{ matrix.arch }}
        if: ${{ matrix.arch != 'aarch64' }}
        run: ./scripts/build_package.sh
        env:
          ARCH: amd64
          RELEASE: ${{ steps.version.outputs.HEPLIFY_VERSION }}

      - name: Upload artifacts (workflow_dispatch)
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: actions/upload-artifact@v4
        with:
          name: heplify-${{ matrix.arch }}
          path: |
            heplify-server*
            *.deb
            *.rpm
          if-no-files-found: warn
          retention-days: 14

      - name: Upload release binaries
        if: ${{ github.event_name == 'release' }}
        uses: skx/github-action-publish-binaries@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: 'heplify-server*'
